<div class="collection-hero">
  {% if collection.image %}
    <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
  {% elsif settings.global_collection_banner %}
    <img src="{{ settings.global_collection_banner | img_url: 'master' | image_tag }}" alt="Global Collection Banner">
  {% else %}
    <img src="{{ 'default-global-banner-url' }}" alt="Default Global Collection Banner">
  {% endif %}
</div>

{% schema %}
{
  "name": "Custom Collection Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "global_collection_banner",
      "label": "Global Collection Banner"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Banner"
    }
  ]
}
{% endschema %}
