<div class="collection-hero">
  {% if section.settings.global_collection_banner %}
    {% if section.settings.global_collection_banner_url %}
        <a href="{{ section.settings.global_collection_banner_url }}">
            {{ section.settings.global_collection_banner | image_url: width: 1200 | image_tag }}
        </a>
      {% else %}
    {{ section.settings.global_collection_banner | image_url: width: 1200 | image_tag }}
  {% else %}
    <p>No Image Loaded</p>
  {% endif %}
</div>

<style>
  .collection-hero img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

{% schema %}
{
  "name": "Custom Collection Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "global_collection_banner",
      "label": "Global Collection Banner"
    },
    {
      "type": "url",
      "id": "global_collection_banner_url",
      "label": "Banner Link URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Banner"
    }
  ]
}
{% endschema %}
