<div class="collection-hero">
  {% if settings.global_collection_banner %}
    {{ settings.global_collection_banner | json }}
  {% else %}
    <p>No Image Loaded</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Custom Collection Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "global_collection_banner",
      "label": "Global Collection Banner"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Banner"
    }
  ]
}
{% endschema %}
